<% var
// `fileName`にページのフォルダ名を記述します。
// `pageName`にナビゲーションに表示するページ名を記述します。
// index.ejsの`pageCurrent`と`name`が同じ場合は`.is-current`が付きます。
// `a`タグ内にテキストを追加する場合のコード。https://gist.github.com/manabuyasuda/fccdf47895871ae2e20d
navs = [
  { fileName: "child-page1", pageName: "child page1"},
  { fileName: "child-page2", pageName: "child page2"},
  { fileName: "child-page3", pageName: "child page3"},
]
// `ul`, `li`, `a`要素に記述するクラス名をそれぞれ定義します。
ulClass = "main-nav";
liClass = "main-nav__item";
aClass = "main-nav__link";

if (typeof modifier === undefined) { var modifier = ''; }
-%>
    <header class="header<%= modifier %>">
      <h1><a href="<% if(page.path) { %><%= page.path %>index.html<% } %>"><%= site.name %></a></h1>
      <nav>
        <ul class="<%= ulClass %>"><% navs.forEach(function(nav) { %><% if(page.current === nav.fileName) { %><% if(page.path === "../") { %>
          <li class="<%= liClass %>">
            <a href="" class="<%= aClass %> is-current"><%= nav.pageName %></a>
          </li><% } else { %>
          <li class="<%= liClass %>">
            <a href="<%= page.path.slice(3) %>index.html" class="<%= aClass %> is-current"><%= nav.pageName %></a>
          </li><% } %><% } else if(page.current === "") { %>
          <li class="<%= liClass %>">
            <a href="<%= nav.fileName %>/index.html" class="<%= aClass %>"><%= nav.pageName %></a>
          </li><% } else { %>
          <li class="<%= liClass %>">
            <a href="<%= page.path %><%= nav.fileName %>/index.html" class="<%= aClass %>"><%= nav.pageName %></a>
          </li><% } %><% }) %>
        </ul>
      </nav>
    </header>
