<% var
// `name`にナビゲーションの名前を、`link`にトップページから見た相対パスを記述します。
// index.ejsの`pageCurrent`と`name`が同じ場合は`.is-current`が付きます。
navs = [
  { name: "page1", link: "/page1/index.html"},
  { name: "page2", link: "/page2/index.html"},
  { name: "page3", link: "/page3/index.html"},
]
// `ul`, `li`, `a`要素に記述するクラス名をそれぞれ定義します。
ulClass = "main-nav";
liClass = "main-nav__item";
aClass = "main-nav__link";
-%>

    <header>
      <nav>
        <ul class="<%= ulClass %>"><% navs.forEach(function(nav) { if(pageCurrent === nav.name) { %>
          <li class="<%= liClass %>">
            <a href="" class="<%= aClass %> is-current"><%= nav.name -%></a>
          </li><% } else if(pageCurrent === "") { %>
          <li class="<%= liClass %>">
            <a href="<%= nav.link %>" class="<%= aClass %>"><%= nav.name %></a>
          </li><% } else { %>
          <li class="<%= liClass %>">
            <a href="..<%= nav.link %>" class="<%= aClass %>"><%= nav.name %></a>
          </li><% }}); %>
        </ul>
      </nav>
    </header>