<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#  <%= ogpType %>: http://ogp.me/ns/<%= ogpType %>#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <% if(pageTitle) { %><title><%= pageTitle %> | <%= site.name %></title><% } else { %><title><%= site.name %></title><% } %>
    <meta name="description" content="<%= pageDescription %>">
    <meta name="keywords" content="<%= site.keywords %>">
    <meta name="author" content="<%= site.author %>">

    <link rel="stylesheet" href="<%= addPath %>css/<%= site.css %>">
    <% if(addCss) { %><link rel="stylesheet" href="css/<%= addCss %>">
    <% } -%>

    <link rel="shortcut icon" href="<%= icon.favicon %>">
    <link rel="apple-touch-icon"  sizes="180x180" href="<%= icon.appleIcon %>">
    <meta name="apple-mobile-web-app-title" content="<%= icon.appTitle %>">
    <link rel="canonical" href="<%= site.rootURL %>">

    <!-- OGP -->
    <meta property="og:title" content="<% if(pageTitle) { %><%= pageTitle %> | <%= site.name %><% } else { %><%= site.name %><% } %>">
    <meta property="og:type" content="<%= ogpType %>">
    <meta property="og:image" content="<%= ogp.image %>">
    <meta property="og:url" content="<%= site.rootURL %><%= pageUrl %>">
    <meta property="og:description" content="<%= pageDescription %>">
    <meta property="og:site_name" content="<%= site.name %>">
    <meta property="og:locale" content="ja_JP">
    <% if(facebook.app_id) { %><meta property="fb:app_id" content="<%= facebook.app_id %>"><% } else if(facebook.admins) { %><meta property="fb:admins" content="<%= facebook.admins -%>"><% } %>
    <meta name="twitter:card" content="<%= twitter.card %>">
    <meta name="twitter:site" content="<%= twitter.site %>">
    <!-- / OGP -->

  </head>
  <% if(pageClass) { %><body class="<%= pageClass %>"><% } else { %><body><% } %>